<div class="container">
    <div class="row">
        <div class='col-md-3'></div>
        <div class="col-md-6">
            <div class="login-box well">
                    <form action="">
                        <legend>Create an account</legend>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input value='' id="firstname" placeholder="First Name" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input id="lastname" value='' placeholder="Last Name" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input id="email" value='' placeholder="E-mail" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input id="address" value='' placeholder="Address" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="city">City</label>
                            <input id="city" value='' placeholder="City" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="province">Province</label>
                            <input id="province" value='' placeholder="Province" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="postal">Postal Code</label>
                            
                            <input id="postal" value='' placeholder="Postal" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default btn-login-submit btn-block m-t-md" value="Sign Up" />
                        </div>
                        
                    </form>
            </div>
        </div>
        <div class='col-md-3'></div>
    </div>
</div>